<!DOCTYPE html>
	<html>
		<head>
			<title>Sepp</title>
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<style>
				.card {
					width: 32%;
					margin-left: 1%;
				}
			</style>
		</head>
		<body>
			
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  			<h5 class="my-0 mr-md-auto font-weight-normal">Sepp</h5>
  			<nav class="my-2 my-md-0 mr-md-3">
    			<a class="p-2 text-dark" href="/articles">Статьи</a>
    			<a class="p-2 text-dark" href="/articles">Команда</a>
  			</nav>
  			<a class="btn btn-outline-primary" href="/">Главная</a>
		</div>


		<div class="container mt-5">
  			<div class="card-deck mb-3 text-center">


    			<div class="card mb-4 shadow-sm">
      				<div class="card-header">
        				<h4 class="my-0 font-weight-normal">Статьи</h4>
      				</div>
      				<div class="card-body">
      					<img src="https://sun9-60.userapi.com/c858120/v858120061/1e896f/iPE14vyMEHU.jpg" class="img-thumbnail">
        				<button type="button" class="btn btn-lg btn-block btn-outline-primary mt-5">Открыть</button>
      				</div>
    			</div>


    			
    			<div class="card mb-4 shadow-sm">
      				<div class="card-header">
        				<h4 class="my-0 font-weight-normal">Команда</h4>
      				</div>
      				<div class="card-body">
      					<img src="https://i.ytimg.com/vi/z7A8mr_O9I8/maxresdefault.jpg" class="img-thumbnail">
        				<button type="button" class="btn btn-lg btn-block btn-outline-primary mt-5">Открыть</button>
      				</div>
    			</div>


  			</div>
  		</div>

		<footer class="pt-4 my-md-5 pt-md-5 border-top container">
    		<div class="row">
      			<div class="col-12 col-md">
        			<H5 class="d-block mb-3">Sepp ©</H5>
        			<small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      			</div>
      			<div class="col-6 col-md">
        			<h5>Статьи</h5>
        			<ul class="list-unstyled text-small">
          				<li><a class="text-muted" href="#">Cool stuff</a></li>
        			</ul>
    		</div>
  		</footer>

		</body>
	</html>
